:root {
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;

  color: black;
  background-image: url('/img/background.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

button {
  border-radius: 5px;
  background-color:#efd9b0;
  border: 1px solid black;
  color: black;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #efd9b0;
  width: 80px;
  height: 50px;
}
